@import "./resto1.scss";

* {
  font-family: "roboto", italic;
}

:root {
  --main-color: light rgba(241, 227, 227, 0.911);
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
}
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffff;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  opacity: 0.9;
  animation: desappear 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes desappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.main-container {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  min-width: 300px;

  box-sizing: border-box;
}
header {
  height: 113px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  .header {
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: relative;
    #retour {
      display: none;
    }
    h1 {
      font-family: "shrikhand";
      font-size: 30px;
      cursor: pointer;
    }
    .fa-solid {
      position: absolute;
      left: 20px;
      top: 30px;
      font-size: 25px;
    }
  }
  .location {
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
  h2 {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  i {
    font-size: 18px;
    cursor: pointer;
  }
}
.infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f27a;
  text-align: center;
  gap: 10px;
  h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 50px;
    @media only screen and (min-width: 800px) {
      br {
        display: none;
      }
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 21.09px;
    color: rgba(53, 53, 53, 1);
    margin-top: 0px;
    @media only screen and (min-width: 800px) {
      br {
        display: none;
      }
    }
  }
}
.btn {
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.btn-gradient {
  background-image: linear-gradient(
    rgba(147, 86, 220, 1),
    rgba(255, 121, 218, 1)
  );
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
  &:hover {
    background-image: linear-gradient(rgb(164, 145, 189), rgb(245, 66, 194));
    transform: scale(1.04);
    transition: 3s ease-in-out;
  }
}
.fonctionnement h2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
}
.fonctions ul {
  counter-reset: steps;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  height: 200px;
  @media only screen and (min-width: 800px) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  li {
    list-style-type: none;
    width: 100%;
    max-width: 343px;
    height: 75px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    background-color: #f2f2f27a;

    &::before {
      content: counter(steps);
      counter-increment: steps;
      color: white;
      background-color: rgba(147, 86, 220, 1);
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 30%;
      right: 3%;
    }
    &:hover {
      transform: scale(1.04);
      transition: 0.3s;
    }

    i {
      margin-right: 40px;
      font-size: 18px;
    }
    #store {
      color: rgba(147, 86, 220, 1);
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f27a;
  gap: 20px;

  .rest-tit {
    h2 {
      margin: 30px 20px;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }
  }
  .cards-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 801px) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      place-items: center;
      justify-content: center;
      align-items: center;
    }

    .card {
      height: 251px;
      padding-bottom: 20px;
      position: relative;
      width: 100%;
      background-color: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      margin-bottom: 30px;
      &:hover {
        transform: scale(1.04);
        transition: 0.3s;
        cursor: pointer;
      }
      @media only screen and (min-width: 800px) {
        flex-grow: 1;
        max-width: 100%;
      }
    }

    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .card-content {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-bottom: 20px;
      align-items: center;

      .card-txt {
        .card-title {
          font-size: 17px;
          font-weight: 700;
          color: black;
          margin-bottom: 0;
        }
        .card-subtitle {
          font-size: 16px;
          font-weight: 300;
          color: black;
          margin-top: 10px;
        }
      }
      .card-like {
        font-size: 20px;
        margin-right: 20px;
        position: relative;

        .fa-regular {
          font-size: 30px;

          /* Cœur en contour visible par défaut */
        }

        .fa-solid {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 30px;

          color: transparent; /* Masque le texte au départ */
          background-image: linear-gradient(
            rgba(147, 86, 220, 1),
            rgba(255, 121, 218, 1)
          );
          background-clip: text;
          -webkit-background-clip: text; /* Nécessaire pour Safari */
          opacity: 0;
          visibility: hidden;
          transition: opacity 3s ease-in-out, visibility 0s 3s; /* Ajout de la transition pour l'opacité */
        }

        &:hover {
          .fa-regular {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
          }

          .fa-solid {
            opacity: 1;
            visibility: visible;
            transition: opacity 3s ease-in-out, visibility 0s 0s;
          }
        }
      }
    }
  }
  .new {
    &::before {
      position: absolute;
      content: "nouveau";
      height: 29px;
      width: 80px;
      background-color: rgba(153, 226, 208, 1);
      color: rgb(64, 95, 87);
      display: grid;
      place-items: center;
      right: 1.5rem;
      top: 1.5rem;
    }
  }
}

footer {
  font-family: "roboto";
  background-color: rgba(53, 53, 53, 1);
  color: white;
  padding: 40px;

  @media only screen and (min-width: 800px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: flex-start;
    padding-top: 30px;
    height: 90px;
  }

  h2 {
    font-family: "shrikhand";
    margin-bottom: 50px;
    margin-top: 10px;
    @media only screen and (min-width: 800px) {
      margin-top: 60px;
      margin-left: 60px;
    }
  }
  div {
    @media only screen and (min-width: 800px) {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-top: 50px;
      flex-wrap: nowrap;
    }
  }
  p {
    font-size: 20px;
    font-weight: 500;
    i {
      margin-right: 10px;
      font-size: 25px;
    }
  }
}
