@charset "UTF-8";
.header .fa-solid {
  visibility: visible;
}

.image-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 350px;
  display: block;
}

.menus-container {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(246, 246, 246);
  padding: 30px;
  margin-top: -38px;
  position: sticky;
  max-width: 1100px;
}
@media only screen and (min-width: 800px) {
  .menus-container {
    margin-left: 100px;
    margin-right: 20px;
  }
}
.menus-container .enseigne {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus-container .enseigne h2 {
  font-family: "shrikhand";
  font-size: 28px;
  font-weight: 400;
}
.menus-container .enseigne .card-like {
  font-size: 20px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.menus-container .enseigne .card-like .fa-regular {
  font-size: 30px;
  /* Cœur en contour visible par défaut */
}
.menus-container .enseigne .card-like .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: transparent; /* Masque le texte au départ */
  background-image: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text; /* Nécessaire pour Safari */
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-in-out, visibility 0s 3s; /* Ajout de la transition pour l'opacité */
}
.menus-container .enseigne .card-like:hover .fa-regular {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}
.menus-container .enseigne .card-like:hover .fa-solid {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-in-out, visibility 0s 0s;
}
.menus-container .entrees {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-right: 20px;
}
.menus-container .entrees h2 {
  border-bottom: 3px solid rgb(153, 226, 208);
  width: 50px;
}
.menus-container .entrees .carte {
  display: flex;
  background-color: white;
  padding-left: 20px;
  border-radius: 20px;
  justify-content: space-between;
  height: 97px;
  min-width: none;
  width: 100%;
  place-items: center;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  animation: appear 3s;
}
.menus-container .entrees .carte:nth-child(2) {
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
.menus-container .entrees .carte:nth-child(3) {
  animation-fill-mode: both;
  animation-delay: 1500ms;
}
.menus-container .entrees .carte:nth-child(4) {
  animation-fill-mode: both;
  animation-delay: 2000ms;
}
.menus-container .entrees .carte:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.menus-container .entrees .carte:hover .number div {
  display: flex;
  flex-direction: column;
  margin-right: 0rem;
  transition: margin-right 5s allow-discrete;
  animation: 700ms linear alternate slide;
}
@keyframes slide {
  from {
    margin-right: -6rem;
  }
  to {
    margin-right: 0;
  }
}
.menus-container .entrees .carte .text {
  white-space: nowrap;
  margin-bottom: 30px;
  overflow: hidden;
}
.menus-container .entrees .carte .text h4 {
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  padding-top: 10px;
}
.menus-container .entrees .carte .text p {
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus-container .entrees .carte .number {
  display: flex;
  flex-direction: row;
  place-items: center;
  font-size: 24px;
  gap: 20px;
  overflow: hidden;
  cursor: pointer;
}
.menus-container .entrees .carte .number p {
  margin-right: 15px;
  margin-top: 50px;
  font-weight: 600;
}
.menus-container .entrees .carte .number div {
  background-color: rgb(153, 226, 208);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 97px;
  width: 97px;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: -3rem;
}
.menus-container .entrees .carte .number .fa-solid {
  color: rgb(153, 226, 208);
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.bouton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

* {
  font-family: "roboto", italic;
}

:root {
  --main-color: light rgba(241, 227, 227, 0.911);
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  opacity: 0.9;
  animation: desappear 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes desappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.main-container {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  min-width: 300px;
  box-sizing: border-box;
}

header {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
header .header {
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: relative;
}
header .header #retour {
  display: none;
}
header .header h1 {
  font-family: "shrikhand";
  font-size: 30px;
  cursor: pointer;
}
header .header .fa-solid {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 25px;
}
header .location {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
header h2 {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}
header i {
  font-size: 18px;
  cursor: pointer;
}

.infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 242, 242, 0.4784313725);
  text-align: center;
  gap: 10px;
}
.infos h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 50px;
}
@media only screen and (min-width: 800px) {
  .infos h2 br {
    display: none;
  }
}
.infos p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21.09px;
  color: rgb(53, 53, 53);
  margin-top: 0px;
}
@media only screen and (min-width: 800px) {
  .infos p br {
    display: none;
  }
}

.btn {
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.btn-gradient {
  background-image: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
}
.btn-gradient:hover {
  background-image: linear-gradient(rgb(164, 145, 189), rgb(245, 66, 194));
  transform: scale(1.04);
  transition: 3s ease-in-out;
}

.fonctionnement h2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
}

.fonctions {
  counter-reset: steps;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  height: 250px;
  margin-left: 0;
  padding: 20px;
}
@media only screen and (min-width: 800px) {
  .fonctions {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 75px;
    padding: 10px;
    padding-left: 15px;
  }
}
.fonctions li {
  list-style-type: none;
  width: 100%;
  max-width: 343px;
  height: 75px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: rgba(242, 242, 242, 0.4784313725);
  display: flex;
  align-items: center;
}
.fonctions li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: rgb(147, 86, 220);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -14px;
  margin-right: 20px;
  margin-top: 5px;
}
.fonctions li:hover {
  transform: scale(1.04);
  transition: 0.3s;
}
.fonctions li i {
  margin-right: 40px;
  font-size: 18px;
}
.fonctions li #store {
  color: rgb(147, 86, 220);
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(242, 242, 242, 0.4784313725);
  gap: 20px;
}
.restaurants .rest-tit h2 {
  margin: 30px 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.restaurants .cards-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 801px) {
  .restaurants .cards-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    place-items: center;
    justify-content: center;
    align-items: center;
  }
}
.restaurants .cards-container .card {
  height: 251px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 30px;
}
.restaurants .cards-container .card:hover {
  transform: scale(1.04);
  transition: 0.3s;
  cursor: pointer;
}
@media only screen and (min-width: 800px) {
  .restaurants .cards-container .card {
    flex-grow: 1;
    max-width: 100%;
  }
}
.restaurants .cards-container img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .cards-container .card-content {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 20px;
  align-items: center;
}
.restaurants .cards-container .card-content .card-txt .card-title {
  font-size: 17px;
  font-weight: 700;
  color: black;
  margin-bottom: 0;
}
.restaurants .cards-container .card-content .card-txt .card-subtitle {
  font-size: 16px;
  font-weight: 300;
  color: black;
  margin-top: 10px;
}
.restaurants .cards-container .card-content .card-like {
  font-size: 20px;
  margin-right: 20px;
  position: relative;
}
.restaurants .cards-container .card-content .card-like .fa-regular {
  font-size: 30px;
  /* Cœur en contour visible par défaut */
}
.restaurants .cards-container .card-content .card-like .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: transparent; /* Masque le texte au départ */
  background-image: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text; /* Nécessaire pour Safari */
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-in-out, visibility 0s 3s; /* Ajout de la transition pour l'opacité */
}
.restaurants .cards-container .card-content .card-like:hover .fa-regular {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}
.restaurants .cards-container .card-content .card-like:hover .fa-solid {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-in-out, visibility 0s 0s;
}
.restaurants .new::before {
  position: absolute;
  content: "nouveau";
  height: 29px;
  width: 80px;
  background-color: rgb(153, 226, 208);
  color: rgb(64, 95, 87);
  display: grid;
  place-items: center;
  right: 1.5rem;
  top: 1.5rem;
}

footer {
  font-family: "roboto";
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 40px;
}
@media only screen and (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: flex-start;
    padding-top: 30px;
    height: 90px;
  }
}
footer h2 {
  font-family: "shrikhand";
  margin-bottom: 50px;
  margin-top: 0px;
  cursor: pointer;
}
@media only screen and (min-width: 800px) {
  footer h2 {
    margin-top: 55px;
    margin-left: 60px;
  }
}
@media only screen and (min-width: 800px) {
  footer div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 60px;
    flex-wrap: nowrap;
  }
}
footer a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}
footer a i {
  margin-right: 10px;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
